{% extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/login/sign_in.css" %}">
{% endblock %}
{% block content %}
  <section class="login_container">
      <article class="login_block">
          <div class="login_content">
              <h2>Register you new account</h2>
              <p>Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Et accusantium hic
                  iste quia corporis libero.</p>
              <a class="sign_up_btn" href="{% url 'login' %}">Log in</a>
          </div>
          <form class="login_form" action="" method="post">
            {% csrf_token %}
              <p class="log_in_title">Sign in</p>
              <input class="input_field" type="text" placeholder="first name" required>
              <input class="input_field" type="text" placeholder="last name" required>
              <input class="input_field" type="text" placeholder="username" required>
              <input class="input_field" type="email" placeholder="email" required>
              <input class="input_field" type="password" placeholder="password" required>
              <input class="input_field" type="password" placeholder="password repeat" required>
              <input class="login_submit_btn" type="submit" value="Submit">
          </form>
      </article>
  </section>
{% endblock %}
