/* dashboard */

.dashboard_block{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.statistic_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.statistic_block_item{
    padding: 2rem 5rem;
    border-radius: 10px;
    text-align: center;
    color: #F6F6F6;
    background-color: #162F33;
}

.statistic_block_item p{
    font-size: 24px;
}

/*.item_1{*/
/*    background-color: #46468C;*/
/*}*/

/*.item_2{*/
/*    background-color: #D87373;*/
/*}*/

/*.item_3{*/
/*    background-color: #55874B;*/
/*}*/

