{% extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
{% endblock %}
{% block content %}
  <section class="dashboard_block">
        <article class="lesson_list">
          {% for student in student_list %}
            <a href="{% url "english:group-detail" lesson.id %}" class="lesson_item">
              {{ student.name }}
            </a>
          {% endfor %}
          {% include "includes/pagination.html" %}
        </article>
{#      <article class="add_lesson_group">#}
{#        <div class="add_btn add_lesson">#}
{#          <p>Add new lesson</p>#}
{#          <a href="#">Add lesson</a>#}
{#        </div>#}
{#        <div class="add_btn add_group">#}
{#          <p>Add new group</p>#}
{#          <a href="{% url "english:group-create" %}">Add group</a>#}
{#        </div>#}
{#      </article>#}
  </section>
{% endblock %}
